extends layout

block content
    h2.page-header Register new Doctor
    //div.input-group
    p Please Register Doctor using the form below
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    form(method='post',action='/doctor/addDoctor',enctype='multipart/form-data')
        .form-group
         label Name
         input.form-control(name='name',type='text',placeholder='Enter name')
        .form-group
         label Email
         input.form-control(name='email',type='email',placeholder='Enter email')
        .form-group
         label UserName
         input.form-control(name='username',type='text',placeholder='Enter username')
        .form-group
         label Password
         input.form-control(name='password',type='password',placeholder='Enter password')
        .form-group
         label Confirm Password
         input.form-control(name='password2',type='password',placeholder='Confirm password')
        .form-group
         label Profile Image
         input.form-control(name='profileimage',type='file')
        input.btn.btn-primary(type='submit',name='submit',value='Register')