extends layout

block content
    h2.page-header Add Priscription
    //div.input-group
    p Please Add Priscription using the form below
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    form(method='post',action='/patient/addPriscription',enctype='multipart/form-data')
        .form-group
         label Patient Code
         input.form-control(name='patientCode',type='text',placeholder='Enter Patient Code')
        .form-group
         label Name of Medicine
         input.form-control(name='medicineName',type='text',placeholder='Enter name of Medicine')
        .form-group
         label Given name of Medicine
         input.form-control(name='medicineGivenName',type='text',placeholder='Enter given name of Medicine')
        .form-group
         label Type of Medicine
         select.form-control(name='medicineType')
          option(value='none') -- Enter type of Medicine --
          option(value='tablet') Tablet
          option(value='syrup') Syrup
          option(value='injection') Injection
          option(value='others') Others
        .form-group
         label Unit of measure
         select.form-control(name='medicineMeasure')
          option(value='none') -- Enter unit of measure --
          option(value='number') Number
          option(value='teaspoons') Teaspoons
          option(value='pads') Pads
          option(value='others') Others
        .form-group
         label Dosage
         input.form-control(name='medicineDose',type='number',step='0.5',placeholder='Enter Dosage')
        .form-group
         label Medicine Intervals
         br
         label.radio-inline #[input.form-control(name='medicineIntervalType',type='radio',value='3')] 3 &nbsp
            input(name='medicineInterval31',type='checkbox',value='1')
            | &nbsp
            input(name='medicineInterval32',type='checkbox',value='1')
            | &nbsp
            label #[input(name='medicineInterval33',type='checkbox',value='1')] Intervals &nbsp
            | &nbsp
            | &nbsp
            label #[input(name='medicineFoodB',type='checkbox',value='Before Food')] Before Food &nbsp
            label #[input(name='medicineFoodA',type='checkbox',value='Before Food')] After Food
         br
         br
         label.radio-inline #[input.form-control(name='medicineIntervalType',type='radio',value='4')] 4 &nbsp
            input(name='medicineInterval41',type='checkbox',value='1')
            | &nbsp
            input(name='medicineInterval42',type='checkbox',value='1')
            | &nbsp
            input(name='medicineInterval43',type='checkbox',value='1')
            | &nbsp
            label #[input(name='medicineInterval44',type='checkbox',value='1')] Intervals &nbsp
            | &nbsp
            | &nbsp
            label #[input(name='medicineFoodB',type='checkbox',value='Before Food')] Before Food &nbsp
            label #[input(name='medicineFoodA',type='checkbox',value='Before Food')] After Food
        .form-group
         label Duration measure
         select.form-control(name='medicineDurationMeasure')
          option(value='none') -- Enter Duration Measure --
          option(value='days') Days
          option(value='weeks') Weeks
          option(value='months') Months
          option(value='years') Years
        .form-group
         label Duration
         input.form-control(name='medicineDuration',type='number',placeholder='Enter Duration')

        
        .form-group
         label Date of Issue
         input.form-control(name='priscriptionIssueDate',type='date')


        
        input.btn.btn-primary(type='submit',name='submit',value='Issue Priscription')