extends layout

block content
    h2.page-header Add Patient
    //div.input-group
    p Please Add Patient using the form below
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    form(method='post',action='/patient/addPatient',enctype='multipart/form-data')
        .form-group
         label Patient Code
         input.form-control(name='patientCode',type='text',placeholder='Enter Patient Code')
        .form-group
         label Personal information
        .form-group
         label Name
         input.form-control(name='patientName',type='text',placeholder='Enter name')
        .form-group
         label Sex
         |  &nbsp
         label.radio-inline #[input.form-control(name='patientSex',type='radio',value='Male')] Male &nbsp
         label.radio-inline #[input.form-control(name='patientSex',type='radio',value='Female')] Female &nbsp
         label.radio-inline #[input.form-control(name='patientSex',type='radio',value='Other')] Other
        .form-group
         label Date of Birth
         input.form-control(name='patientDateOfBirth',type='date')
        .form-group
         label Profile Image
         input.form-control(name='patientImage',type='file')
        .form-group
         label Contact information
        .form-group
         label Email
         input.form-control(name='patientEmail',type='email',placeholder='Enter email')
        .form-group
         label Contact number
         input.form-control(name='patientPhno',type='tel',placeholder='Enter Contact number')
        .form-group
         label Address 1
         input.form-control(name='patientAddress1',type='text',placeholder='Enter Address 1')
        .form-group
         label Address 2
         input.form-control(name='patientAddress2',type='text',placeholder='Enter Address 2')
        .form-group
         label Health information
        .form-group
         label Weight in Kg
         input.form-control(name='patientWeight',type='number',step='0.1',placeholder='Enter Weight in Kg')
        .form-group
         label Height in Cm
         input.form-control(name='patientHeight',type='number',placeholder='Enter Height in Cm')
        .form-group
         label Any Permanant marks on body
         input.form-control(name='patientMarks',type='text',placeholder='Enter if any Permanant marks on body')
        .form-group
         label Identification Document
        .form-group
         label Document
         |  &nbsp
         select.form-control(name='patientIdDoc')
          option(value='none') -- Choose patient Identification document --
          option(value='adhar card') Adhar card
          option(value='passport') Passport
          option(value='pan card') Pan Card
          option(value='driving license') Driving license
          option(value='voter card') Voter card
          option(value='others') Others
        .form-group
         label Upload Scaned copy
         input.form-control(name='patientIdImage',type='file')

        //- .form-group
        //-  label UserName
        //-  input.form-control(name='username',type='text',placeholder='Enter username')
        //- .form-group
        //-  label Password
        //-  input.form-control(name='password',type='password',placeholder='Enter password')
        //- .form-group
        //-  label Confirm Password
        //-  input.form-control(name='password2',type='password',placeholder='Confirm password')
        
        input.btn.btn-primary(type='submit',name='submit',value='Add Patient')