extends layout

block content
  h1= Homepage
  h4 Welcome to Medic Master
  br
  div.alert.alert-danger
    a(href='/patient/viewPatient') View Patient
  div.alert.alert-danger
    a(href='/priscription/viewPriscription') View Priscription
  div.alert.alert-danger
    a(href='/patient/addPatient') Add new Patient
  div.alert.alert-danger
    a(href='/priscription/addPriscription') Add new Priscription
