doctype html
html(lang='en')
  head
    title Welcome
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Medic-Master
        .navbar-collapse.collapse
          div.nav.navbar-nav
            if user
              li(class=(title=='Home' ? 'active' : ''))
                a(href='/') Home
              li(class=(title=='Register' ? 'active' : ''))
                a(href='/users/register') Add new Recipient
              li(class=(title=='Register Doctor' ? 'active' : ''))
                a(href='/doctor/addDoctor') Register Doctor
          div.nav.navbar-nav.navbar-right
            if !user
              li(class=(title=='Login' ? 'active' : ''))
                a(href='/users/login') Login
            if user
              li
                a(href='/users/logout') Logout
    .container
      !=messages()
      block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='javascripts/bootstrap.js')
