extends layout

block content
    h2.page-header Register Hospital
    p Please Register using the form below
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    form(method='post',action='/users/registerHospital',enctype='multipart/form-data')
        .form-group
         label Name of Hospital
         input.form-control(name='name',type='text',placeholder='Enter name of Hospital')
        .form-group
         label Abreviation for Hospital
         input.form-control(name='abreviation',type='text',placeholder='Enter abreviation for Hospital')
        .form-group
         label Password
         input.form-control(name='password',type='password',placeholder='Enter password')
        .form-group
         label Confirm Password
         input.form-control(name='password2',type='password',placeholder='Confirm password')
        .form-group
         label Email
         input.form-control(name='email',type='email',placeholder='Enter Email')
        .form-group
         label Address
         input.form-control(name='address',type='text',placeholder='Enter Address')
        .form-group
         label Area
         input.form-control(name='area',type='text',placeholder='Enter Area/Municipality/Village')
        .form-group
         label District
         input.form-control(name='district',type='text',placeholder='Enter District')
        .form-group
         label State
         input.form-control(name='state',type='text',placeholder='Enter State')
        .form-group
         label Country
         input.form-control(name='country',type='text',placeholder='Enter Country')
        .form-group
         label Speciality
         input.form-control(name='speciality',type='text',placeholder='Enter speciality of Hospital')
        .form-group
         label Upload logo
         input.form-control(name='logo',type='file')
        input.btn.btn-primary(type='submit',name='submit',value='Register')