body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.success li{
  padding: 15px;
  margin-bottom: 20px;
  border:1px solid transparent;
  border-radius:4px;
  color:#3c7639;
  background-color:#dff0d8;
  border-color:#d6e9c6;
  list-style:none;
}
ul.success li{
  padding: 15px;
  margin-bottom: 20px;
  border:1px solid transparent;
  border-radius:4px;
  color:#a94442;
  background-color:#f2dede;
  border-color:#ebccd1;
  list-style:none;
}
input[type=radio] {
  width: 20px;
  height: 20px;
}
input[type=checkbox] {
  width: 30px;
  height: 30px;
}